<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        tools:targetApi="31">
        <activity
            android:name=".NuevoGastoActivity"
            android:exported="false" />
        <activity
            android:name=".VentaLibreActivity"
            android:exported="false" />
        <activity
            android:name=".MovimientosAdapter"
            android:exported="false" />
        <activity
            android:name=".MovimientoFragment"
            android:exported="false" />
        <activity
            android:name=".InventarioActivity"
            android:exported="false" />
        <activity
            android:name=".BalanceActivity"
            android:exported="false" />
        <activity
            android:name=".EditarPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" /> <!-- LoginActivity será la primera en abrir -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- MainActivity (se abrirá después del login) -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>